# Computing the S isotope fractionation factors for the oxidation of sulfide by Candidatus Thioglobus autotrophicus (SUP05) from experimental data

In [216]:
# For numerical calculations
import numpy as np
import pandas as pd
import scipy as sp
import math
import matplotlib.animation as animation
from scipy.integrate import odeint
from numpy import arange
from pylab import *
from scipy.integrate import odeint
import scipy.optimize 
from scipy.optimize import leastsq
from math import exp
from collections import OrderedDict
from sklearn.linear_model import LinearRegression
pd.options.mode.chained_assignment = None
import git

# Import plotting features
import matplotlib.pyplot as plt
import seaborn as sns

# Find home directory for repo
repo = git.Repo("./", search_parent_directories=True)
homedir = repo.working_dir

# Set plot style
sns.set_style("ticks")
sns.set_palette("colorblind", color_codes=True)
sns.set_context("paper")

# Magic command to plot inline
%matplotlib inline

#To graph in SVG (high def)
%config InlineBackend.figure_format="svg"

In [217]:
# Import table with data
df_data =  pd.read_csv (f'{homedir}/SUP05/data/raw/EA/20240327_EA.csv')

# Keep only rows with Peak Nr=3, since Peak Nr=1,2,4 and 5 
# correspond to the reference gas
#Select rows to drop
i1 = df_data[df_data['Peak_Nr'] == 1].index
i2 = df_data[df_data['Peak_Nr'] == 2].index
i4 = df_data[df_data['Peak_Nr'] == 4].index
i5 = df_data[df_data['Peak_Nr'] == 5].index
#Drop rows in place
df_data.drop(i1, inplace=True)
df_data.drop(i2, inplace=True)
df_data.drop(i4, inplace=True)
df_data.drop(i5, inplace=True)
df_data.head()

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type
2,AGS_2,NaN,NaN,3,49.107,46.858,2.249,2103,10090,2.119,standard
7,AGS_26,NaN,NaN,3,35.070,33.432,1.638,1508,7386,24.931,standard
12,SUP_05,0.0,a,3,24.327,23.223,1.104,1042,4948,-8.866,sample
17,SUP_05,70.0,a,3,11.131,10.625,0.505,474,2254,-8.121,sample
22,SUP_05,166.0,a,3,19.050,18.187,0.863,816,3868,-8.999,sample

Then, let's load the data for the blanks:

In [218]:
# Import table with the raw data for blanks
df_blanks = pd.read_csv(f'{homedir}/SUP05/data/raw/EA/20240327_blanks.csv')

# Remove rows with missing data
df_blanks.dropna(how='any', inplace=True)

# Keep only rows with Peak Nr=3
#Select rows to drop
i1 = df_blanks[df_blanks['Peak_Nr'] == 1].index
i2 = df_blanks[df_blanks['Peak_Nr'] == 2].index
i4 = df_blanks[df_blanks['Peak_Nr'] == 4].index
i5 = df_blanks[df_blanks['Peak_Nr'] == 5].index
#Drop rows in place
df_blanks.drop(i1, inplace=True)
df_blanks.drop(i2, inplace=True)
df_blanks.drop(i4, inplace=True)
df_blanks.drop(i5, inplace=True)
df_blanks.head()

   Identifier  Peak_Nr  Area_All  Area_64  Area_66  Ampl_64  Ampl_66   d34S
4       Blank        3     0.502    0.479    0.023       20       95  0.225
9       Blank        3     1.171    1.117    0.054       47      228  7.522
14      Blank        3     1.385    1.322    0.064       56      272  9.442

Finally, let's load the data for the linearity test at the beginning of the run:

In [219]:
# Import file
df_lin =  pd.read_csv(f'{homedir}/SUP05/data/raw/EA/20240327_linearity.csv')
df_lin.head()

  Identifier  Peak_Nr  Ampl_64  Ampl_66   d34S
0  linearity        1      444     2123 -0.470
1  linearity        2     1494     7153  0.000
2  linearity        3     2261    10821  0.190
3  linearity        4     2743    13135  0.372
4  linearity        5     3749    17955  0.561

Now, let's implement the corrections.

## Blank correction

In [220]:
# Get the average area all for the blanks
blank_area_all_average = df_blanks["Area_All"].mean()

# Get the average d34S for the blanks
blank_d34s_average = df_blanks["d34S"].mean()

# Append a column to the data dataframe with the 
# correction of area by blank: substraction of the
# area of the measurement by the area of the blank

df_data['Correction_of_area_blank'] = \
    np.subtract(df_data['Area_All'], blank_area_all_average)

# Correction of d34S by blank: 
    
# Get the product of the d34S by the area of each measurement
num1 = np.multiply (df_data['d34S'], df_data['Area_All'])
# Get the product of the d34S by the area of the average of the blanks
num2 = blank_d34s_average * blank_area_all_average  
#Subtract the product of d34S by the product of the blanks
num = np.subtract (num1, num2)
#Divide by the area corrected by blank and
#append column to the data dataframe
df_data['Correction_of_d34S_blank'] = \
    np.divide (num, df_data['Correction_of_area_blank'])

df_data.head()

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type,Correction_of_area_blank,Correction_of_d34S_blank
2,AGS_2,NaN,NaN,3,49.107,46.858,2.249,2103,10090,2.119,standard,48.087667,2.042463
7,AGS_26,NaN,NaN,3,35.070,33.432,1.638,1508,7386,24.931,standard,34.050667,25.505807
12,SUP_05,0.0,a,3,24.327,23.223,1.104,1042,4948,-8.866,sample,23.307667,-9.504324
17,SUP_05,70.0,a,3,11.131,10.625,0.505,474,2254,-8.121,sample,10.111667,-9.517253
22,SUP_05,166.0,a,3,19.050,18.187,0.863,816,3868,-8.999,sample,18.030667,-9.831660

## Linearity correction

In [221]:
# Create variables for linear regression
# x will be the amplitude of the peak of mass 64 = ^32S + ^16O + ^16O
# We divided by 1000 to convert volts ot milivolts
x = (df_lin['Ampl_64'].values/1000).reshape((-1,1))
# y will be the values of d34S
y = (df_lin['d34S'])

# Create model of linear regression
model = LinearRegression().fit(x,y)

#Determine R square, intercept and slope
r_sq = model.score(x,y)
intercept = model.intercept_
s = model.coef_
slope=s[0]

# Calculate an amplitude difference by centering around an arbitrary 
# value in the Ampl_64 column of the data dataframe  
num= np.subtract(df_data['Ampl_64'], 1100)
ampl_difference = np.divide (num, 1000)

# Calculate the amplitude correction factor
ampl_correction_factor = (slope * ampl_difference)+intercept

# Correct the d34S corrected by amplitude by
# subtracting the blank corrected data by the amplitude correction
# factor and append the column to the data dataframe
df_data['Correction_of_d34S_by_amplitude'] = \
    np.subtract(df_data['Correction_of_d34S_blank'], ampl_correction_factor)

df_data

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type,Correction_of_area_blank,Correction_of_d34S_blank,Correction_of_d34S_by_amplitude
2,AGS_2,NaN,NaN,3,49.107,46.858,2.249,2103,10090,2.119,standard,48.087667,2.042463,2.189673
7,AGS_26,NaN,NaN,3,35.070,33.432,1.638,1508,7386,24.931,standard,34.050667,25.505807,25.783116
12,SUP_05,0.0,a,3,24.327,23.223,1.104,1042,4948,-8.866,sample,23.307667,-9.504324,-9.125123
17,SUP_05,70.0,a,3,11.131,10.625,0.505,474,2254,-8.121,sample,10.111667,-9.517253,-9.013857
22,SUP_05,166.0,a,3,19.050,18.187,0.863,816,3868,-8.999,sample,18.030667,-9.831660,-9.403043
27,SUP_05,178.0,a,3,11.799,11.264,0.535,504,2392,-9.812,sample,10.779667,-11.281632,-10.784795
32,SUP_05,190.0,a,3,21.610,21.538,0.073,1186,5700,-8.567,sample,20.590667,-9.274751,-8.927036
37,SUP_05,286.0,a,3,24.631,24.420,0.211,1190,5607,-8.273,sample,23.611667,-8.877506,-8.530665
42,SUP_05,0.0,b,3,16.274,15.535,0.738,1185,5238,-7.961,sample,15.254667,-8.875825,-8.527891
47,SUP_05,70.0,b,3,30.852,29.454,1.398,1286,6100,-8.731,sample,29.832667,-9.225097,-8.899248
52,AGS_2,NaN,NaN,3,44.412,42.380,2.032,1829,8767,2.201,standard,43.392667,2.118108,2.325229
57,AGS_2,NaN,NaN,3,40.559,38.701,1.858,1656,7951,2.209,standard,39.539667,2.118237,2.363185
62,AGS_26,NaN,NaN,3,34.403,32.797,1.606,1413,6920,24.424,standard,33.383667,24.994811,25.292892
67,AGS_26,NaN,NaN,3,46.823,44.635,2.188,2022,9907,25.605,standard,45.803667,26.047314,26.212235
72,SUP_05,166.0,b,3,21.512,20.536,0.976,940,4467,-8.282,sample,20.492667,-8.978960,-8.577456
77,SUP_05,178.0,b,3,15.912,15.190,0.722,691,3283,-8.181,sample,14.892667,-9.133120,-8.677172
82,SUP_05,190.0,b,3,19.431,18.546,0.885,849,4049,-8.496,sample,18.411667,-9.283582,-8.862181
87,SUP_05,286.0,b,3,14.142,13.500,0.642,620,2948,-7.366,sample,13.122667,-8.383236,-7.911763
92,SUP_05,0.0,c,3,20.536,19.604,0.932,897,4260,-8.363,sample,19.516667,-9.099044,-8.688138
97,SUP_05,70.0,c,3,29.129,27.808,1.321,1274,6052,-8.824,sample,28.109667,-9.351756,-9.023282
102,SUP_05,166.0,c,3,19.050,18.185,0.865,831,3946,-8.274,sample,18.030667,-9.065674,-8.640337
107,SUP_05,178.0,c,3,13.127,12.531,0.596,1192,5685,-8.319,sample,12.107667,-9.501744,-9.155341
112,SUP_05,190.0,c,3,29.054,28.642,0.411,1194,5653,-8.115,sample,28.034667,-8.618389,-8.272423
117,SUP_05,286.0,c,3,26.217,25.934,0.283,1190,5562,-7.936,sample,25.197667,-8.488824,-8.141983
122,AGS_2,NaN,NaN,3,5.207,4.969,0.238,222,1062,1.158,standard,4.187667,0.045196,0.603693
127,AGS_2,NaN,NaN,3,22.891,21.842,1.048,992,4756,1.950,standard,21.871667,1.773848,2.163982
132,AGS_26,NaN,NaN,3,34.295,32.696,1.599,1479,7229,24.588,standard,33.275667,25.165687,25.449337
137,AGS_26,NaN,NaN,3,42.695,40.701,1.994,1846,9043,25.278,standard,41.675667,25.756127,25.959531

## Standard correction

First, let's create a category column in the dataframe according to the size of the area of the peak of each sample and standard.

In [222]:
# Correct each sample by standards with similar areas

#Create standard correction group empty list
Std_group = []
# Classify the area of the samples by category 
# Loop through dataframe rows
for row in df_data['Area_All']:
    if row <= 36:
        Std_group.append ('low')
    elif row >= 36.01:
        Std_group.append ('high') 
# Append to data dataframe 
df_data['Std_group'] = Std_group
df_data

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type,Correction_of_area_blank,Correction_of_d34S_blank,Correction_of_d34S_by_amplitude,Std_group
2,AGS_2,NaN,NaN,3,49.107,46.858,2.249,2103,10090,2.119,standard,48.087667,2.042463,2.189673,high
7,AGS_26,NaN,NaN,3,35.070,33.432,1.638,1508,7386,24.931,standard,34.050667,25.505807,25.783116,low
12,SUP_05,0.0,a,3,24.327,23.223,1.104,1042,4948,-8.866,sample,23.307667,-9.504324,-9.125123,low
17,SUP_05,70.0,a,3,11.131,10.625,0.505,474,2254,-8.121,sample,10.111667,-9.517253,-9.013857,low
22,SUP_05,166.0,a,3,19.050,18.187,0.863,816,3868,-8.999,sample,18.030667,-9.831660,-9.403043,low
27,SUP_05,178.0,a,3,11.799,11.264,0.535,504,2392,-9.812,sample,10.779667,-11.281632,-10.784795,low
32,SUP_05,190.0,a,3,21.610,21.538,0.073,1186,5700,-8.567,sample,20.590667,-9.274751,-8.927036,low
37,SUP_05,286.0,a,3,24.631,24.420,0.211,1190,5607,-8.273,sample,23.611667,-8.877506,-8.530665,low
42,SUP_05,0.0,b,3,16.274,15.535,0.738,1185,5238,-7.961,sample,15.254667,-8.875825,-8.527891,low
47,SUP_05,70.0,b,3,30.852,29.454,1.398,1286,6100,-8.731,sample,29.832667,-9.225097,-8.899248,low
52,AGS_2,NaN,NaN,3,44.412,42.380,2.032,1829,8767,2.201,standard,43.392667,2.118108,2.325229,high
57,AGS_2,NaN,NaN,3,40.559,38.701,1.858,1656,7951,2.209,standard,39.539667,2.118237,2.363185,high
62,AGS_26,NaN,NaN,3,34.403,32.797,1.606,1413,6920,24.424,standard,33.383667,24.994811,25.292892,low
67,AGS_26,NaN,NaN,3,46.823,44.635,2.188,2022,9907,25.605,standard,45.803667,26.047314,26.212235,high
72,SUP_05,166.0,b,3,21.512,20.536,0.976,940,4467,-8.282,sample,20.492667,-8.978960,-8.577456,low
77,SUP_05,178.0,b,3,15.912,15.190,0.722,691,3283,-8.181,sample,14.892667,-9.133120,-8.677172,low
82,SUP_05,190.0,b,3,19.431,18.546,0.885,849,4049,-8.496,sample,18.411667,-9.283582,-8.862181,low
87,SUP_05,286.0,b,3,14.142,13.500,0.642,620,2948,-7.366,sample,13.122667,-8.383236,-7.911763,low
92,SUP_05,0.0,c,3,20.536,19.604,0.932,897,4260,-8.363,sample,19.516667,-9.099044,-8.688138,low
97,SUP_05,70.0,c,3,29.129,27.808,1.321,1274,6052,-8.824,sample,28.109667,-9.351756,-9.023282,low
102,SUP_05,166.0,c,3,19.050,18.185,0.865,831,3946,-8.274,sample,18.030667,-9.065674,-8.640337,low
107,SUP_05,178.0,c,3,13.127,12.531,0.596,1192,5685,-8.319,sample,12.107667,-9.501744,-9.155341,low
112,SUP_05,190.0,c,3,29.054,28.642,0.411,1194,5653,-8.115,sample,28.034667,-8.618389,-8.272423,low
117,SUP_05,286.0,c,3,26.217,25.934,0.283,1190,5562,-7.936,sample,25.197667,-8.488824,-8.141983,low
122,AGS_2,NaN,NaN,3,5.207,4.969,0.238,222,1062,1.158,standard,4.187667,0.045196,0.603693,low
127,AGS_2,NaN,NaN,3,22.891,21.842,1.048,992,4756,1.950,standard,21.871667,1.773848,2.163982,low
132,AGS_26,NaN,NaN,3,34.295,32.696,1.599,1479,7229,24.588,standard,33.275667,25.165687,25.449337,low
137,AGS_26,NaN,NaN,3,42.695,40.701,1.994,1846,9043,25.278,standard,41.675667,25.756127,25.959531,high

In [223]:
# Create df with only standard data
df_standards = df_data[(df_data.Type == 'standard')] 
#Sort values by ID and area
#df_standards = df_standards.sort_values(['Identifier','Area_All'])

df_standards.head()

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type,Correction_of_area_blank,Correction_of_d34S_blank,Correction_of_d34S_by_amplitude,Std_group
2,AGS_2,NaN,NaN,3,49.107,46.858,2.249,2103,10090,2.119,standard,48.087667,2.042463,2.189673,high
7,AGS_26,NaN,NaN,3,35.070,33.432,1.638,1508,7386,24.931,standard,34.050667,25.505807,25.783116,low
52,AGS_2,NaN,NaN,3,44.412,42.380,2.032,1829,8767,2.201,standard,43.392667,2.118108,2.325229,high
57,AGS_2,NaN,NaN,3,40.559,38.701,1.858,1656,7951,2.209,standard,39.539667,2.118237,2.363185,high
62,AGS_26,NaN,NaN,3,34.403,32.797,1.606,1413,6920,24.424,standard,33.383667,24.994811,25.292892,low

In [224]:
# Calculate the slope and intercept for calculated vs. true value of the stds

# Append true value column to the standard table
# For AGS2
df_standards.loc[df_standards['Identifier'] \
                  == 'AGS_2', 'True_d34S'] = 1.89

# For AGS26
df_standards.loc[df_standards['Identifier'] \
                  == 'AGS_26', 'True_d34S'] = 26.83
                       
# Group by Std_group
df_stdgroup = df_standards.groupby (['Std_group'])

df_standards.head()

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type,Correction_of_area_blank,Correction_of_d34S_blank,Correction_of_d34S_by_amplitude,Std_group,True_d34S
2,AGS_2,NaN,NaN,3,49.107,46.858,2.249,2103,10090,2.119,standard,48.087667,2.042463,2.189673,high,1.89
7,AGS_26,NaN,NaN,3,35.070,33.432,1.638,1508,7386,24.931,standard,34.050667,25.505807,25.783116,low,26.83
52,AGS_2,NaN,NaN,3,44.412,42.380,2.032,1829,8767,2.201,standard,43.392667,2.118108,2.325229,high,1.89
57,AGS_2,NaN,NaN,3,40.559,38.701,1.858,1656,7951,2.209,standard,39.539667,2.118237,2.363185,high,1.89
62,AGS_26,NaN,NaN,3,34.403,32.797,1.606,1413,6920,24.424,standard,33.383667,24.994811,25.292892,low,26.83

Below, we make a linear regression for the standards of each area group.

In [225]:
# Get the slope and intercept for the standards of each group
# Define column names
names = ['Std_group', 'R squared', 'Intercept', 'Slope']

# Initialize empty dataframe to save fit results
df_linreg_stds = pd.DataFrame(columns=names)
                 
# Create variables for linear regression
#Loop through standard groups                       
for group, data in enumerate (df_stdgroup):
    #x will be the values of d34S of the stds corrected by blanks and linearity
    x_std = data[1].Correction_of_d34S_by_amplitude.values.reshape((-1,1))
    #y will be the true values of d34S of each standard
    y_std = data[1].True_d34S
    # Create model
    model = LinearRegression().fit(x_std,y_std)
    #Determine R square, intercept and slope
    r_sq_stds = model.score(x_std,y_std)
    intercept_stds = model.intercept_
    s1 = model.coef_
    slope_stds = s1[0]
    # Store parameters and group as list
    params = (data[1].Std_group.unique(), r_sq_stds, intercept_stds, slope_stds)
 
    # Convert list to pandas Series
    series = pd.Series(params, index=names)   
    # Append parameters to dataframe
    df_linreg_stds = pd.concat([df_linreg_stds, pd.DataFrame([series])], ignore_index=True)
#Round the values of the dataframe to two decimal places
df_linreg_stds = df_linreg_stds.round(2)     
df_linreg_stds

  Std_group  R squared  Intercept  Slope
0    [high]        1.0      -0.51   1.05
1     [low]        1.0       0.49   1.03

Finally, let's apply the standard correction to the samples based on their area:

In [226]:
#Apply corrections by true value and area

# Initialize lists to save values
slopes = []
intercepts = []
Correction_of_d34S_by_true_value = []

#loop through rows in dataframe
for index, row in df_data.iterrows():
    # Extract standard group
    Std_group = row.Std_group
    # Extract slope and intercept
    slope = df_linreg_stds[df_linreg_stds.Std_group == Std_group].Slope.iloc[0]
    intercept = df_linreg_stds[df_linreg_stds.Std_group == Std_group].Intercept.iloc[0]
    slopes.append(slope)
    intercepts.append(intercept)
    # Compute corrected concentration
    Correction_of_d34S_by_true_value.append(intercept + slope * row.Correction_of_d34S_by_amplitude)
    
# Append values to dataframe
df_data['Correction_of_d34S_by_true_value'] = Correction_of_d34S_by_true_value

df_data.head()

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type,Correction_of_area_blank,Correction_of_d34S_blank,Correction_of_d34S_by_amplitude,Std_group,Correction_of_d34S_by_true_value
2,AGS_2,NaN,NaN,3,49.107,46.858,2.249,2103,10090,2.119,standard,48.087667,2.042463,2.189673,high,1.789157
7,AGS_26,NaN,NaN,3,35.070,33.432,1.638,1508,7386,24.931,standard,34.050667,25.505807,25.783116,low,27.046609
12,SUP_05,0.0,a,3,24.327,23.223,1.104,1042,4948,-8.866,sample,23.307667,-9.504324,-9.125123,low,-8.908877
17,SUP_05,70.0,a,3,11.131,10.625,0.505,474,2254,-8.121,sample,10.111667,-9.517253,-9.013857,low,-8.794273
22,SUP_05,166.0,a,3,19.050,18.187,0.863,816,3868,-8.999,sample,18.030667,-9.831660,-9.403043,low,-9.195135

Since all the corrections have been done, we will now export the corrected data, which must be combined with the quantification data to get the plots of sulfide degradation and change in the $\delta^{34}S$ of the remaining sulfide as a function of time or -ln of sulfide remaining.

In [227]:
# Create dataframe that includes only data from the samples
df_samples = df_data[(df_data.Type == 'sample')]

# Export data table
df_samples.to_csv(f'{homedir}/SUP05/data/processed/EA/20240327_EA.csv')
df_samples.head()

,Identifier,Time_h,Replicate,Peak_Nr,Area_All,Area_64,Area_66,Ampl_64,Ampl_66,d34S,Type,Correction_of_area_blank,Correction_of_d34S_blank,Correction_of_d34S_by_amplitude,Std_group,Correction_of_d34S_by_true_value
12,SUP_05,0.0,a,3,24.327,23.223,1.104,1042,4948,-8.866,sample,23.307667,-9.504324,-9.125123,low,-8.908877
17,SUP_05,70.0,a,3,11.131,10.625,0.505,474,2254,-8.121,sample,10.111667,-9.517253,-9.013857,low,-8.794273
22,SUP_05,166.0,a,3,19.050,18.187,0.863,816,3868,-8.999,sample,18.030667,-9.831660,-9.403043,low,-9.195135
27,SUP_05,178.0,a,3,11.799,11.264,0.535,504,2392,-9.812,sample,10.779667,-11.281632,-10.784795,low,-10.618339
32,SUP_05,190.0,a,3,21.610,21.538,0.073,1186,5700,-8.567,sample,20.590667,-9.274751,-8.927036,low,-8.704847

### Analytical repeatability of measurements

Let's calculate the analytical repeatability of the EA-IRMS measurements.

In [228]:
# Update standard df
# Create a dataframe for only standards from the updated data dataframe
df_standards = df_data[(df_data.Type == 'standard')]
#Sort values
df_standards = df_standards.sort_values(['Identifier', 'Area_All'])

#Group standards by identifier and area
grouped_standards = df_standards.groupby(['Identifier', 'Std_group'])

# Determine the mean of each standard  and rename the series
mean_stds = grouped_standards['Correction_of_d34S_by_true_value'].mean()
mean_stds = mean_stds.rename("d34S_mean")

# Determine the standard deviation of each standard  and rename the series
std_dev_stds = grouped_standards['Correction_of_d34S_by_true_value'].std()
std_dev_stds = std_dev_stds.rename("d34S_stdev")

#Pass series to individual dataframes
df_mean_stds=mean_stds.to_frame()
df_std_dev_stds=std_dev_stds.to_frame()

In [229]:
#merge the mean and standard deviation dataframes
df_anrep = pd.merge(df_mean_stds, df_std_dev_stds,  how='outer', on=['Identifier', 'Std_group'])

#Reset index of the dataframe
df_anrep = df_anrep.reset_index()

#Add column of true value of the standards
df_anrep.loc[df_anrep['Identifier'] \
                  == 'AGS_2', 'True_d34S'] = 1.89
df_anrep.loc[df_anrep['Identifier'] \
                  == 'AGS_26', 'True_d34S'] = 26.83

#Determine the accuracy by subtracting the true value from the average value of each standard
df_anrep ['Accuracy'] = abs(df_anrep ['True_d34S'] - df_anrep ['d34S_mean'])
df_anrep

  Identifier Std_group  d34S_mean  d34S_stdev  True_d34S  Accuracy
0      AGS_2      high   1.897331    0.095777       1.89  0.007331
1      AGS_2       low   1.915352    1.136389       1.89  0.025352
2     AGS_26      high  26.880177    0.187623      26.83  0.050177
3     AGS_26       low  26.763701    0.257913      26.83  0.066299

## Import the quantification data and calculate the fraction of thiosulfate remaining

Let's begin by loading the thiosulfate quantification data (IC):

In [230]:
# Import table with data
df_ic =  pd.read_csv(f'{homedir}/SUP05/data/raw/IC/202401_IC.csv') 
#See data
df_ic.head()

   Time_h Replicate  thiosulfate_uM
0       0         a      955.156047
1      70         a      770.588000
2     166         a      650.126000
3     178         a      530.548000
4     190         a      287.442000

We will calculate the fraction of reactant remaining for each replicate at each time point:

In [231]:
#Create ID column with the combination of time and replicate
df_ic['ID'] = df_ic['Time_h'].astype(int).map(str)  + '_' +\
df_ic['Replicate'].map(str) 

# Get the max values for average concentration for each replicate and 
# append it to a new column
df_ic['max_conc'] = df_ic.groupby(['Replicate'])['thiosulfate_uM'].transform(max)

# Get the fraction of reactant remaining for each time point
df_ic['f_R'] = abs(np.divide(df_ic['thiosulfate_uM'], \
               df_ic['max_conc']))

# Remove duplicates
df_ic = df_ic.drop_duplicates(subset ="ID")

df_ic.head()

   Time_h Replicate  thiosulfate_uM     ID    max_conc       f_R
0       0         a      955.156047    0_a  955.156047  1.000000
1      70         a      770.588000   70_a  955.156047  0.806767
2     166         a      650.126000  166_a  955.156047  0.680649
3     178         a      530.548000  178_a  955.156047  0.555457
4     190         a      287.442000  190_a  955.156047  0.300937

In [232]:
# Export data table
df_ic.to_csv(f'{homedir}/SUP05/data/processed/IC/202401_IC.csv')

## Create master table

Now, let's create a table to compile the corrected values from EA-IRMS and quantification of thiosulfate by IC. We will begin by loading the processed EA data and dropping the non-needed columns:

In [233]:
# Import tables with the EA processed data
df_ea_1 = pd.read_csv(f'{homedir}/SUP05/data/processed/EA/20240327_EA.csv')

# Create empty master dataframe
df_master=pd.DataFrame()

# Fill master table
df_master['d34S_corrected'] = df_ea_1['Correction_of_d34S_by_true_value']
df_master['replicate'] = df_ea_1['Replicate']
df_master['time_h'] = (df_ea_1['Time_h']).astype(int)

#Create new ID column with the combination of time and replicate
df_master['ID'] =df_master['time_h'].astype(int).map(str)  + '_' +\
df_master['replicate'].map(str) 

# Sort values
df_master = df_master.sort_values(['replicate', 'time_h'])
df_master.head()

   d34S_corrected replicate  time_h     ID
0       -8.908877         a       0    0_a
1       -8.794273         a      70   70_a
2       -9.195135         a     166  166_a
3      -10.618339         a     178  178_a
4       -8.704847         a     190  190_a

Now, we will fuse this table with the quantification by IC table:

In [234]:
# Append f_r (fraction of thiosulfate remaining) column to the master table               
df_master = df_master.merge(df_ic.filter(['ID', 'f_R']), how='left',
                 left_on='ID', right_on='ID') 

# Append thiosulfate concentration column to the master table  
df_master = df_master.merge(df_ic.filter(['ID', 'thiosulfate_uM']), \
                            how='left', left_on='ID', right_on='ID')  

# Append -ln(f_r) column to the master table
df_master['minus_ln_f_R'] = abs(-np.log(df_master['f_R']))

df_master.head()

,d34S_corrected,replicate,time_h,ID,f_R,thiosulfate_uM,minus_ln_f_R
0,-8.908877,a,0,0_a,1.000000,955.156047,0.000000
1,-8.794273,a,70,70_a,0.806767,770.588000,0.214721
2,-9.195135,a,166,166_a,0.680649,650.126000,0.384709
3,-10.618339,a,178,178_a,0.555457,530.548000,0.587964
4,-8.704847,a,190,190_a,0.300937,287.442000,1.200854

To determine the fractionation factor $^{34}\varepsilon$, we will use a linearized form of the Rayleigh distillation equation (Mariotti et al., 1981; Scott et al., 2014):

$$
ln (^{34}\delta_{S_2O_3^{-2}} +1) = ln (^{34}\delta_{S_2O_3^{-2},0} +1) + {^{34}\varepsilon} \cdot ln f,
$$ 

where $^{34}\delta_{S_2O_3^{-2}}$ is the delta value for 34/32 S for sulfide at any given point, $^{34}\delta_{S_2O_3^{-2},0}$ is the delta value for 34/32 S for thiosulfate at t = 0, ${^{34}\varepsilon}$ is the fractionation factor of 34/32 S in the sulfide oxidation reaction and f is the fraction of sulfide remaining at the point where $^{34}\delta_{S^{-2}}$ is measured. We will append a column corresponding to $ln (^{34}\delta_{S_2O_3^{-2}} +1)$ to the dataframe.

In [235]:
#Calculate the ln (delta_thiosulfate+1) and append to dataframe
df_master['d34S_thiosulfate'] = 1000*np.log(df_master['d34S_corrected']/1000+1)

#Show dataframe
df_master.head()

,d34S_corrected,replicate,time_h,ID,f_R,thiosulfate_uM,minus_ln_f_R,d34S_thiosulfate
0,-8.908877,a,0,0_a,1.000000,955.156047,0.000000,-8.948798
1,-8.794273,a,70,70_a,0.806767,770.588000,0.214721,-8.833170
2,-9.195135,a,166,166_a,0.680649,650.126000,0.384709,-9.237671
3,-10.618339,a,178,178_a,0.555457,530.548000,0.587964,-10.675116
4,-8.704847,a,190,190_a,0.300937,287.442000,1.200854,-8.742956

Now, we can export the master table, with the corrected data from both IC (quantification) and EA-IRMS.

In [236]:
# Export master table with the data with all corrections

df_master.to_csv(f'{homedir}/SUP05/data/processed/EA_IC/202401_EA_IC.csv')

# Calculate $\epsilon$

In [237]:
# Get the slope and intercept for each treatment

df_linreg = df_master.groupby(['replicate']).apply(
        lambda g: (((LinearRegression().fit((g.minus_ln_f_R.values).\
                                      reshape((-1,1)), g.d34S_thiosulfate.values)\
.coef_[0], LinearRegression().fit((g.minus_ln_f_R.values).reshape((-1,1)), \
                         g.d34S_thiosulfate.values).intercept_, LinearRegression().\
                     fit((g.minus_ln_f_R.values).reshape((-1,1)), g.d34S_thiosulfate.values).\
                     score((g.minus_ln_f_R.values).reshape((-1,1)), g.d34S_thiosulfate.values)\
                         )))).apply(pd.Series)\
.rename(columns={0:'slope', 1:'intercept', 2: 'R_squared'}).reset_index()

# Assign name as the index column
df_linreg = df_linreg.round(2)
df_linreg

  replicate  slope  intercept  R_squared
0         a   0.44      -9.43       0.14
1         b   0.35      -8.61       0.39
2         c   0.51      -8.78       0.53

In [238]:
#Get general statistics and stdev 
df_linreg_stats = df_linreg.\
agg({'slope': ['mean', 'std'], 'intercept': ['mean', 'std'], 'R_squared': ['mean', 'std']}).reset_index()
df_linreg_stats =df_linreg_stats.round(2)
df_linreg_stats

  index  slope  intercept  R_squared
0  mean   0.43      -8.94       0.35
1   std   0.08       0.43       0.20

# Plot of the isotope data

In [239]:
# Group by replicate
df_group = df_master.groupby(['replicate'])

# Define colors
colors = sns.color_palette('colorblind', n_colors=len(df_group))
# Define markers
markers = ['s', 'o', 'd']

# Define fig and axes
fig = plt.figure(figsize=(2.95, 1.95), dpi=192)
ax = fig.add_subplot(111)

# Loop through replicates
labels = ('Replicate 1','Replicate 2','Replicate 3')
for i, (group, data) in enumerate(df_group):
    #Calculate trendline  
    z = np.polyfit(data.minus_ln_f_R, data.d34S_thiosulfate, 1)
    p = np.poly1d(z)
 
    # Plot fit
    ax.plot(data.minus_ln_f_R, p(data.minus_ln_f_R), c=colors[i])
    
    # Plot experimental data
    ax.scatter(data.minus_ln_f_R, data.d34S_thiosulfate, color=colors[i], marker=markers[i],
              label=labels[i])
    ax.set_xlabel('$-ln (f_R)$')
    ax.set_ylabel('ln ($\delta{}^{34}S_{VCDT}$+1) ()')
    ax.set_ylim(-10,-6)
    #Add epsilon
    ax.text(0.9, 0.01, '$^{34}$$\epsilon$ = %s $\pm$ %s ' 
            %(df_linreg_stats.loc[0,"slope"], df_linreg_stats.loc[1,"slope"]),
        verticalalignment='bottom', horizontalalignment='right',
        transform=ax.transAxes, fontsize=9)

#Show legend
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

#Save figure
#fig.savefig(f'{homedir}/SUP05/figures/SUP05_fr_thiosulfate.pdf', bbox_inches='tight')